*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:"Poppins", sans-serif;
}




body{
 padding: 0;
}


/* Criação da predifinição das cores usadas */
:root{
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;
}

/* Criação geral da formatação do HTML escondendo a barra lateral */

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

/* Cabeçalho */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    background-position: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

/* Nome na apresentação do site */

.logo{
    font-size: 3rem;
    color: var(--text-color);
    background-position: blur(10px);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3 ease;
}

/* Quando o cursor passar por cima do nome altera o tamanho do elemento */

.logo:hover{
    transform: scale(1.1);
    color: var(--text-color);
    text-shadow: 0 0 25px var(--main-color);
}


.logo span{
    text-shadow: 0 0 25px var(--main-color);
}

/* Elementos de funcionalidade */

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

/* Essa função permite que quando o mouse passar por cima do nome é ativada a função de mudança da cor */

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}


section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}


.home{
    padding: 10rem 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-content{
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
    
}


span{
    color: var(--main-color);
}


.logo span{
    color: var(--main-color);
}


.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}


.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}


.home-img{
    border-radius: 50%;
}


.home-img img{
    position: absolute;
    top: -5%;
    right: -70%;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color)
                0 0 100px var(--main-color);
}

.home-content p{
    margin-top: 3rem; /* Adicionar margem superior */
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}


.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}


.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}



.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3 ease-in-out;
    cursor: pointer;
}


.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}


.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}


.btn-group .a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}


.text-animation{
    font-size: 3.5rem;
    font-weight: 700;
    min-width: 280px;
}


.text-animation span{
    position: relative;
}


.text-animation span::before{
    content: "Frontend Designer";
    color: var(--main-color);
    animation: words 20s infinite;
}


.text-animation span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}


@keyframes cursor {
    to{
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words{
    0%,
    20%{
        content: "Frontend Designer";
    }
    21%,
    40%{
        content: "Web Designer";
    }
    41%,
    60%{
        content: "Backend Developer" ;
    }
    61%,
    80%{
        content: "Web Developer";
    }
    81%,
    100%{
        content: "Task automation";
    }
}


@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    55%,
    70%,
    75%,
    90%,
    95%{ 
        width: 0;
    }


    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8)
    }
}


.services{
    background: var(--bg-color);
    color: white;
}


.services h2{
    margin-bottom: 5rem;
    color: white;
}


.service-container{
    display: grid;
    max-width: 800px;
    align-items: center;
    gap: 2.5rem;
}


.service-box{
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    flex-direction: inherit;
}


.service-box:hover{
    background: white;
    color: black;
    border:5px solid var(--main-color);
}



.service-box .service-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem 5rem;
}


.service-info h4{
    position: absolute;
    display: block;
    left: 42.25%;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
}


.service-info p{
    font-size:1.6rem;
    font-weight: 600;
    max-height: 100px;
    line-height: 1.7;
    margin: auto;
}


.Linguagens{
    display: flex;
    position: absolute;
    top: 120.0%;
    left: 47.0%;
    justify-content: center;
    align-items: center;
    width: 10.5rem;
    height: 10.5rem;
    background: transparent;
    font-size: 5.5rem;
    color: gr;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}


.contact{
    background-color: var(--bg-color);
}



.contact h2{
    margin-bottom: 3rem;
    color: white;
}


.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}


.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}


.contact form .btn{
    margin-top: 2rem;
}


.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
}


.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}


.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3 ease-in-out;
}


.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}


.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}


.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}


.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}


.footer ul li{
    display: inline-block;
    padding: 0 15px;
}


.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}


::-webkit-scrollbar{
    width: 5px;
}


::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}


::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 15px;
}


@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .service-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
}
@media(max-width:991px){
    .header{
        padding: 2rem 3%;
    }
}
    section{
        padding: 10rem 3% 2rem;
    }
    .timeline-items::before{
        left: 7px;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
    padding-left: 37px;

}
    .timeline-dot{
        left: 0;
    }
    .services{
        padding-bottom: 7rem;
    }
    .testimonials .wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    .contact form{
        flex-direction: column;
    }
    .footer{
        padding: 2rem 3%;
    }


    @media only screen and (max-width: 768px) {
        html {
            font-size: 50%;
        }
        /* Adicione outras regras de media query conforme necessário */
    }



    