
<!DOCTYPE html>
<html lang="pt-br">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="portfolio.css">


    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>
    


    <div class="sidebar"></div>


    <!--Criação do cabeçalho da página-->
    <header class="header">
            <a href="#home" class="logo">Matheus Cribari</a>


    <!--Criação da navegação do site-->
            <nav class="navbar">
                <a href="#home"class="ativo">Home</a>
                <a href="#services">Linguagens</a>
                <a href="#contact">Contato</a>
            </nav>

    </header>


    <section class="home" id="home">
        <div class="home-content">
            <div></div>
            <h1>Olá, sou o <span>Matheus</span></h1>
            <h3 class="text-animation">Estou estudando sobre <span>
            </span></h3>


            <p>Olá meu nome é Matheus tenho 16 anos, atualmente resido em Pitanga Serra - Espirito Santo. Sou um ávido aprendiz e sempre busco aprimorar meus conhecimentos e aprender
            novas coisas, sou iniciante no ramo, mas espero chegar muito longe um dia. </p>


            <div class="social-icons">
                <a href="https://www.linkedin.com/in/matheus-cribari-862b0924b/" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                <a href="https://github.com/matheuscribari" target="_blank"><i class='bx bxl-github'></i></a>
                <a href="https://www.instagram.com/matheuscribari/" target="_blank"><i class='bx bxl-instagram-alt' ></i></a>
                <a href="https://api.whatsapp.com/send?phone=5527992758562" target="_blank"><i class='bx bxl-whatsapp' target="_blank"></i></a>
            </div>



            <div class="btn-group">
                <a href="#" class ="btn">Contratar</a>
                <a href="#contact" class="btn">Contato</a>
            </div>


            <div class="home-img" id="img">
                <img src="perfilM.png" alt="Foto de perfil">
            </div>


        </div>
    </section>



    <section class="services" id="services">
    
        <div class="services-container">
            <div class="service-box">
                <div class="service-info">
                    <h4> Minhas Linguagens</h4>
                    <div class="Linguagens" id="Linguagens">
                        <a href="" target="_blank"><i class='bx bxl-python'></i></a>
                        <a href="" target="_blank"><i class='bx bxl-c-plus-plus' ></i></a>
                        <a href="" target="_blank"><i class='bx bxl-html5' ></i></a>
                        <a href="" target="_blank"><i class='bx bxl-css3' ></i></a>
                        <a href="" target="_blank"><i class='bx bxl-postgresql'></i></a>
                    </div>
                </div>
    </section>



    <section class="contact" id="contact">


        <form action="https://formsubmit.co/matheuscribariferreira@gmail.com" method="post" id="contato">
            <div class="input-group">
                <div class="input-box">
                    <input type="text"  name="name" placeholder="Nome completo" autocomplete="off" required>
                    <input type="email" name="email" placeholder="E-mail" autocomplete="off" required>
                </div>

                <div class="input-box">
                    <input type="number" name="number" placeholder="Número de telefone" autocomplete="off" required>
                    <input type="text" name="name" placeholder="Assunto" autocomplete="off" required>
                    

                </div>

            </div>

            <div class="input-group-2">
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <input type="submit" value="Enviar Mensagem" class="btn" autocomplete="off" required>
        

            </div>
        </form>

    </section>


    <footer class="footer">
        <div class="social">
            
                <a href="https://www.linkedin.com/in/matheus-cribari-862b0924b/" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                <a href="https://github.com/matheuscribari"><i class='bx bxl-github' target="_blank"></i></a>
                <a href="https://www.instagram.com/matheuscribari/"><i class='bx bxl-instagram-alt' target="_blank"></i></a>
                <a href="https://api.whatsapp.com/send?phone=5527992758562"><i class='bx bxl-whatsapp' target="_blank"></i></i></a>

        </div>


            <ul class="list">


                <li>
                    <a href="#">Home</a>
                </li>


                <li>
                    <a href="#">Minhas Linguagens</a>
                </li>


                <li>
                    <a href="#">Contato</a>
                </li>
                
            </ul>

            <p class="copyright">
                © Matheus Cribari | All right Reserved
            </p>


    </footer>





</script>
</body>
</html>